* {
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
}

body {
	margin: 5px;
	padding: 0;
}

.row {
	clear: both;
	margin-top: 5px;
	width: 100%;
}

.left {
	display: table-cell;
	width: 100%;
}

.right {
	display: table-cell;
}

.add-btn {
	min-width: 60px;
}

form input, form select {
	width: 100%;
}
